---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
	.filter((post) => post.data.status !== 'draft')
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hi, saya Aruna!</h1>
			<p>
				Saya bisa membantu anda seputar Digital Marketing, Web Design & Developer — WordPress based,
				Web Traffic, Google Business, Domain & Server or Hosting, Business Email, Web Content Admin, 
				Technical Support, dan General Digital Support ✨
			</p>
			<h2>Explore</h2>
			<a class="pastel-btn" href="/about" target="_blank" rel="noopener noreferrer">🤓 About Me</a>
			<a class="pastel-btn" href="https://wa.me/628117229979" target="_blank" rel="noopener noreferrer">💬 WhatsApp</a>
			<a class="pastel-btn" href="https://www.linkedin.com/in/arunajr/" target="_blank" rel="noopener noreferrer">💼 LinkedIn</a>
			<a class="pastel-btn" href="https://www.threads.com/@arunajr.id" target="_blank" rel="noopener noreferrer">＠ Threads</a>

			<p>
				Apapun kebutuhan anda, yuk ngobrol ☕️
			</p>
			
			<h2>Updates</h2>
			<ul class="update-card">
				{
					posts.map((post) => (
						<li class="update-item">
							<a href={`/blog/${post.id}/`} class="update-link">
                                <!-- Anda bisa mengganti emoji 📄 ini dengan gambar/ikon spesifik nantinya -->
								<span class="update-icon">📄</span> 
								<h3><span class="update-title">{post.data.title}</span></h3>
							</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
